body {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.h-screen {
  height: 100vh;
}

.h-full {
  height: 100%;
}

.container-p {
  padding: 18px;
}

.w-full {
  width: 100%;
}

.flex {
  display: flex;
}

.jsutify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}

.items-stretch {
  align-items: stretch;
}

.pointer-grab {
  cursor: grab;
}

.pointer-cursor {
  cursor: pointer;
}
.pointer-move {
  cursor: move;
}

.space-around {
  justify-content: space-around;
}

.m-0 {
  margin: 0px;
}

.p-0 {
  padding: 0px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}
/* Designer */

.designer-bg-pattern {
  background-color: #2d3540;
  background-image: linear-gradient(#515151 0.9px, transparent 0.9px),
    linear-gradient(to right, #515151 0.9px, #2d3540 0.9px);
  background-size: 18px 18px;
}

.shadow-paper {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.bg-props-box {
  background: #292c33;
}

.component-selected {
  position: relative;
}

.component-selected:after {
  content: ' ';
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 100%;
  border-width: 1px;
  border-style: dashed;
  border-color: darkblue;
}

.indicator-container {
  height: 30px;
  margin-top: -29px;
  font-size: 12px;
  line-height: 12px;
  position: absolute;
}

.indicator-component-name {
  font-size: 13px;
  font-weight: 600;
}

.indicator-container-icon {
  fill: white;
  font-size: 14px;
}

.indicator-container-icon:hover {
  fill: rgba(255, 255, 255, 0.7);
}
